<!DOCTYPE html>
<html>
<head>
    <title>BEST PRICED SG</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css" >
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <script src="https://kit.fontawesome.com/a171663cd9.js" crossorigin="anonymous"></script>
    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
        .w3-bar-block .w3-bar-item {padding:20px}
    </style>
</head>
<body>

<!-- Top menu with search bar -->
<div class="w3-top">
  <div class="w3-white" id="topdiv">
    <div class="w3-center"><h1>BEST PRICED SG</h1>
      <p id = "topbar"> 
        <input type="text" id="searchBar" onkeyup="mySearchFunction()" placeholder=" ">
        <button type="button" id="searchBtn"> <i class="fa fa-search" aria-hidden="true"></i></button>
      </p>
    </div>
  </div>
</div>

<!-- !PAGE CONTENT displaying all the products! -->
<div class="w3-main w3-content w3-padding" id="productdiv" >
    <!-- First Photo Grid-->
    <div id="productcard">
        <% products.forEach(p => { %>
          <div class="w3-quarter product" data-product="<%= p.product.toLowerCase() %>">
            <img src="<%= p.imageURL %>" alt="<%= p.product %>" style="height: 100%; width:100%" 
              onclick="openModal('<%= p.id %>','<%= p.imageURL %>', '<%= p.product %>', '<%= p.size %>', '<%= JSON.stringify(p.price) %>')">
                <h3><%= p.product %></h3>
                <p><%= p.size %></p>        
                <%
                    const priceArray = Object.entries(p.price);
                    priceArray.sort((a, b) => parseFloat(a[1]) - parseFloat(b[1]));
                    priceArray.slice(0,5).forEach(([store, price], index) => { %>
                        <div class="<%= index === 0 ? 'first-item' : '' %>"><%= store %>: $<%= price %></div>
                <% });            
            %>
            </div>
        <% }); %>
    </div>
</div>
  
<!-- The Modal -->
<div id="myModal" class="modal">
  <div class="modal-content">
      <span class="close">&times;</span>
      <div id ="modalInfo">
        <img id="modalImage" src="" alt="">
        <p>
          <label id="productId"></label>
          <label id="modalProduct"></label>
          <label id="modalSize"></label>
          <label id="modalCurrentPrice"></label>
        </p>
      </div>
      <label for="Source">Source:</label>
      <input type="text" id="newSource"><br><br>
      <label for="latestPrice">Latest Price:</label>
      <input type="number" id="latestPrice"><br><br>
      <button id="saveButton">Save</button> 

      <!-- <p id="modalProduct"></p>
      <p id="modalSize"></p>
      <p id="modalPrice"></p>

      <label for="Source">Source:</label>
      <input type="text" id="newSource"><br><br>
      <label for="latestPrice">Latest Price:</label>
      <input type="number" id="latestPrice" step="0.01"><br><br>
      <button id="saveButton">Save</button> -->
  </div>
</div>
  
  <!-- Footer
  <footer class="w3-row-padding w3-padding-32">
    <div class="w3-third">
      <h3>FOOTER</h3>
      <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>
  
    <div class="w3-third">
      <h3>BLOG POSTS</h3>
      <ul class="w3-ul w3-hoverable">
        <li class="w3-padding-16">
          <img src="/w3images/workshop.jpg" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Lorem</span><br>
          <span>Sed mattis nunc</span>
        </li>
        <li class="w3-padding-16">
          <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Ipsum</span><br>
          <span>Praes tinci sed</span>
        </li> 
      </ul>
    </div>

    <div class="w3-third w3-serif">
      <h3>POPULAR TAGS</h3>
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Dinner</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Salmon</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">France</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Drinks</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Flavors</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Cuisine</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Chicken</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Dressing</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fried</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fish</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Duck</span>
      </p>
    </div>
  </footer> -->

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}


function mySearchFunction() {
    var input = document.getElementById("mySearch");
    console.log("input=" + input);

}

// Get the modal
var modal = document.getElementById("myModal");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// Function to open the modal
function openModal(productId, imageURL, product, size, price) {
  document.getElementById("productId").innerText = productId;
  document.getElementById("modalImage").src = imageURL;
  document.getElementById("modalProduct").innerText = product;
  document.getElementById("modalSize").innerText = size;
  const priceObject = JSON.parse(price);
  // Sort the price array
  const priceArray = Object.entries(priceObject);
  priceArray.sort((a, b) => parseFloat(a[1]) - parseFloat(b[1]));

  document.getElementById("modalCurrentPrice").innerText = JSON.stringify(priceArray);

  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

// Handle the save button click
document.getElementById("saveButton").onclick = async function() {
  var newSource = document.getElementById("newSource").value;
  var latestPrice = document.getElementById("latestPrice").value;
  var productName = document.getElementById("modalProduct").innerText;
  var productId = document.getElementById("productId").innerText;
  console.log("productId= " + productId);
  // Validate input values
  if (!newSource || !latestPrice) {
    alert("Please fill in all fields.");
    return;
  }

  // Send the new data to the server
  try {
    let response = await fetch('/update-price', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        productId,
        productName,
        newSource,
        latestPrice
      })
    });

    let result = await response.json();
    console.log("response= "+ result);

    if (result.ok) {
      alert("New Description: " + newSource + "\nNew Price: $" + latestPrice);
      // Optionally update the UI to reflect the new price
    } else {
      alert("Error: " + result.error);
    }
  } catch (error) {
    console.error('Error:', error);
    alert("An error occurred while saving the data.");
  }

  modal.style.display = "none";
}

function mySearchFunction() {
        var input, filter, products, product, i;
        input = document.getElementById('searchBar');
        filter = input.value.toLowerCase();
        products = document.getElementsByClassName('product');

        for (i = 0; i < products.length; i++) {
            product = products[i].getAttribute('data-product');
            if (product.includes(filter)) {
                products[i].style.display = '';
            } else {
                products[i].style.display = 'none';
            }
        }
    }
</script>

</body>
</html>
