<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Best Price Sg</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-4MWE3VMPWV"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-4MWE3VMPWV');
        </script>
        <style>
            body, h1, h2, h3, h4, h5, h6 {
                font-family: "Lato", sans-serif;
            }
            .first-item {
                font-weight: bold;
            }
            .min-h-400 {
                min-height: 400px;
            }
            .first-item{
                font-size: 1em;
                font-weight: bold;
                color: green;
            }
            .next-item{
                font-size: 0.8rem;
            }
            .redthumb{
                color:red;
            }
            .bluethumb{
                color:#3399CC;
            }
            .unreliable{
                color:rgb(178, 175, 175);
                font-weight:lighter;
                text-decoration: line-through;
            }
            body {
                background-image: url('images/background.jpeg');
            }
        </style>
    </head>
    
    <body>

        <!-- Top menu with search bar -->
        <header data-bs-theme="dark">
            <div class="navbar navbar-dark bg-dark shadow-sm fixed-top">
                <div class="container">
                    <a href="#" class="navbar-brand d-flex align-items-center">
                        <i class="bi bi-cart4 mr-sm-2"></i>
                        <strong>Best Price SG</strong>
                    </a>
                    <form class="form-inline ml-auto">
                        <input class="form-control mr-sm-2" type="search" id="searchBar" onkeyup="mySearchFunction()" placeholder="Search for product">
                    </form>
                </div>
            </div>
        </header>
        
        <main>     
            <!-- <div>
                <img src="/images/supermarketBanner.png" alt="banner" class="img-fluid h-25">
            </div>   -->

            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1>A Community for Price Comparison</h1>
                </div>
                </div>
            </section> 

            <!-- Page content displaying all the products -->
            <div class="album py-5 bg-body-tertiary">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="productdiv">
                        <% products.forEach(p => { %>
                        <div class="col product-item mb-3" data-product="<%= p.product.toLowerCase() %>">
                            <div class="card shadow-sm">
                                <img src="<%= p.imageURL %>" class="card-img-top" alt="<%= p.product %>" 
                                    onclick="openModal('<%= p.id %>', '<%= p.imageURL %>', '<%= p.product %>', '<%= p.size %>', '<%= JSON.stringify(p.price) %>')">
                                <div class="card-body min-h-400">
                                    <h5 class="card-title"><%= p.product %></h5>
                                    <p class="card-text"><%= p.size %></p>
                                    <ul class="list-group list-group-flush">
                                        <%
                                        const priceArray = Object.entries(p.others);
                                        const filteredPriceArray = priceArray.filter(([store, details]) => {
                                            return !(details.thumbsDown >= details.thumbsUp + 5);
                                        });

                                        <!-- const sortedPriceArray = filteredPriceArray.concat(priceArray.slice(filteredPriceArray.length)); -->
                                        filteredPriceArray.sort((a, b) => parseFloat(a[1].price) - parseFloat(b[1].price));
                                        filteredPriceArray.slice(0, 5).forEach(([store, details], index) => { %>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <div class="<%= index === 0 ? 'first-item' : 'next-item' %> <%= (details.thumbsDown >= details.thumbsUp + 5) ? 'unreliable' : '' %>">
                                                <%= index+1%>. <%= store %>: $<%= details.price %>
                                                <button class="shadow-none border-0 bg-transparent" onclick="doUpVote('<%= p.id %>','<%= store %>')"> <i class="bi bi-hand-thumbs-up-fill bluethumb" ></i><%=details.thumbsUp%></button>  
                                                <button class="shadow-none border-0 bg-transparent" onclick="doDownVote('<%= p.id %>', '<%= store %>')"> <i class="bi bi-hand-thumbs-down-fill redthumb"></i><%=details.thumbsDown%></button>              
                                            </div>                                        
                                            <!-- <figcaption class="figure-caption"><%= details.lastUpdated %> </figcaption>  -->    
                                        </li>
                                    <% }); %>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>

            <!-- Form to add in new product -->
            <!-- <section class="container mt-5">
                <h2>Submit a New Product</h2>
                <form id="newProductForm">
                    <div class="form-group">
                        <label for="newProductName">Name</label>
                        <input type="text" id="newProductName" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="newProductSize">Size</label>
                        <input type="text" id="newProductSize" class="form-control" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="newProductPrice">Price</label>
                        <input type="number" id="newProductPrice" class="form-control" step="0.01" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="newProductSource">Source</label>
                        <input type="text" id="newProductSource" class="form-control" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="newProductImage">Image URL</label>
                        <input type="text" id="newProductImage" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
            </section> -->
            <section class="container mt-5">
                <h2 class="text-center mb-4">Submit a New Product</h2>
                <form id="newProductForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="newProductName">Name</label>
                            <input type="text" id="newProductName" class="form-control" placeholder="Product Name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="newProductSize">Size</label>
                            <input type="text" id="newProductSize" class="form-control" placeholder="Product Size" required>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="newProductPrice">Price </label>
                            <input type="number" id="newProductPrice" class="form-control" step="0.01" placeholder="Product Price" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="newProductSource">Source </label>
                            <input type="text" id="newProductSource" class="form-control" placeholder="Product Source" required>
                        </div>
                    </div>
            
                    <div class="form-group">
                        <label for="newProductImage">Image URL </label>
                        <input type="text" id="newProductImage" class="form-control" placeholder="Image URL">
                    </div>
            
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mt-3">Submit</button>
                    </div>
                </form>
            </section>
            
        
        </main>
 
        <footer class="text-body-secondary py-5">
            <div class="container">
                <p class="float-end mb-1">
                    <a href="#">Back to top</a>
                </p>
            </div>
        </footer>

        <!-- The Modal -->
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Product Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="modalImage" src="" class="img-fluid" alt="">
                        <p id="productId" class="d-none"></p>
                        <p><strong>Product:</strong> <span id="modalProduct"></span></p>
                        <p><strong>Size:</strong> <span id="modalSize"></span></p>
                        <!-- <p><strong>Current Prices:</strong> <span id="modalCurrentPrice"></span></p> -->
                        <div class="form-group">
                            <label for="newSource">Source</label>
                            <input type="text" class="form-control" id="newSource">
                        </div>
                        <div class="form-group">
                            <label for="latestPrice">Latest Price</label>
                            <input type="number" class="form-control" id="latestPrice">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="saveButton">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function mySearchFunction() {
                var input, filter, products, product, i;
                input = document.getElementById('searchBar');
                filter = input.value.toLowerCase();
                products = document.getElementsByClassName('product-item');

                for (i = 0; i < products.length; i++) {
                    product = products[i].getAttribute('data-product');
                    if (product.includes(filter)) {
                        products[i].style.display = '';
                    } else {
                        products[i].style.display = 'none';
                    }
                }
            }

            function openModal(productId, imageURL, product, size, price) {
                document.getElementById("productId").innerText = productId;
                document.getElementById("modalImage").src = imageURL;
                document.getElementById("modalProduct").innerText = product;
                document.getElementById("modalSize").innerText = size;
                // const priceObject = JSON.parse(price);
                // const priceArray = Object.entries(priceObject).sort((a, b) => parseFloat(a[1].price) - parseFloat(b[1].price));
                // document.getElementById("modalCurrentPrice").innerText = JSON.stringify(priceArray);
                $('#myModal').modal('show');
            }

            document.getElementById("saveButton").onclick = async function() {
                var newSource = document.getElementById("newSource").value;
                var latestPrice = document.getElementById("latestPrice").value;
                var productName = document.getElementById("modalProduct").innerText;
                var productId = document.getElementById("productId").innerText;
                
                if (!newSource || !latestPrice) {
                    alert("Please fill in all fields.");
                    return;
                }

                try {
                    let response = await fetch('/update-price', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            productId,
                            productName,
                            newSource,
                            latestPrice
                        })
                    });

                    let result = await response.json();
                    if (result.ok) {
                        alert("New Source: " + newSource + "\nNew Price: $" + latestPrice);
                        window.location.reload();
                    } else {
                        alert("Error: " + result.error);
                    }
                } catch (error) {
                    console.error('Error:', error);
                    alert("An error occurred while saving the data.");
                }

                $('#myModal').modal('hide');
            }
        
            document.getElementById('newProductForm').addEventListener('submit', function(event) {
                event.preventDefault();

                const name = document.getElementById('newProductName').value;
                const price = document.getElementById('newProductPrice').value;
                const source = document.getElementById('newProductSource').value;
                const size = document.getElementById('newProductSize').value;
                const imageURL = document.getElementById('newProductImage').value;

                fetch('/add-product', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ name, price, source, size, imageURL })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.ok) {
                        alert('Product added successfully');
                        window.location.reload();
                    } else {
                        alert('Error: ' + data.error);
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                    alert("An error occurred while adding the product.");
                });
            });
         
            async function  doUpVote(productId, source){
                console.log("doUpvote="+ source);

                fetch('/upVote', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ productId , source})
                })
                .then(response => response.json())
                .then(data => {
                    if (data.ok) {
                        window.location.reload();
                    } else {
                        alert('Error: ' + data.error);
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                    alert("An error occurred while upvoting the product.");
                });
            }

            async function  doDownVote(productId, source){

                fetch('/downVote', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ productId, source })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.ok) {
                        window.location.reload();
                    } else {
                        alert('Error: ' + data.error);
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                    alert("An error occurred while downvoting the product.");
                });
                }
        </script>

    </body>
</html>
